@use "sass:color";
// ============
// Colours
// ============

$xanadu: #757761;
$corn: #f4e76e;
$laser-lemon: #f7fe72;
$light-green: #8ff7a7;
$maya-blue: #51bbfe;

$red: red;
$blue:  blue;
$green: green;
$orange: orange;


// Tones ============

$black: black;
$grey: grey;
$white:  white;